* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, .container {
  width: 100%;
  height: 100%;
}

body {
  background: darkgreen;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border: 5px solid #00e400;
}

.search input {
  font: 1.25rem Arial, sans-serif;
  padding: 0.5em;
  margin-bottom: 0.25em;
}
.search p {
  background: #00ca00;
  padding: 0.5em;
  margin-bottom: 0.25em;
  cursor: pointer;
}
.search p.show {
  display: block;
}
.search p.hide {
  display: none;
}
.search .list {
  height: 55vh;
  background: #00ca00;
  overflow: auto;
}
.search .list li {
  position: relative;
  padding: 0.5em;
  font-style: italic;
  cursor: pointer;
  overflow: hidden;
}
.search .list li p {
  background: transparent;
}
.search .list li:hover {
  word-wrap: break-word;
}
.search .list li:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#009700), color-stop(darkgreen), to(#003100));
  background: -o-linear-gradient(left, #009700, darkgreen, #003100);
  background: linear-gradient(90deg, #009700, darkgreen, #003100);
}
.search .list li:nth-child(2n) {
  background: #009700;
}
.search .list li .icon-add, .search .list li .icon-less {
  position: absolute;
  top: 0;
  right: 0;
  background: seaGreen;
  color: white;
  height: 100%;
  cursor: pointer;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border-bottom: 2px solid #000;
}
.search .list::-webkit-scrollbar {
  background: #00ca00;
  width: 10px;
}
.search .list::-webkit-scrollbar-thumb {
  background: #64ff64;
}
.search .list::-webkit-scrollbar-thumb:hover {
  background: darkgreen;
}

.options {
  position: absolute;
  top: 10px;
  left: 10px;
}
.options div {
  padding: 0.5em;
  margin-bottom: 0.25em;
  background: #003100;
  color: white;
  cursor: pointer;
}
.options div p {
  font-weight: bold;
}
.options div:hover {
  background: #009700;
}